/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/



/*-- Reset Code --*/
/*-- //Reset Code --*/



/*-- Index-Page-Styling --*/

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.fondoclima1{
    height: 1080px;
    background: url("../images/background2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.fondopyp1 {
    height: 1080px;
    background: url(../images/fondoNoche.jpg)no-repeat center top;   
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.spacer {
	padding-bottom: 1%;
	padding-top: 1%;
}

.footer {
    height: 20px;
    margin: 2em 0 2em;
}

.footer p {
    
    color: #fff;
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 1.8;
    margin: 0 3vw;
}

.footer p a {
    color: #333;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.footer p a:hover {
    color: #fff;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition :0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

h1 {
	font-size: 50px;
	font-weight: 400;
	color: #F9F9F9;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 7px;
	margin-top: 50px;
}

.containerclima {
	height: 700px;
	width: 65%;
	margin: 1% auto;
	background-color: rgba(0, 0, 0, 0.73);
}
.containerpyp {
    height: 700px;
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.city {
	height: 100%;
	width: 60%;
	float: left;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/sabanetaBackground.jpg) center;
  background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	position: relative;
}

.forecast {
	width: 40%;
	max-width: 40%;
	float: left;
}

.forecast-icon {
	margin: 5px 0;
}

.forecast-image {
	width: 80%;
}

.title {
	float: right;
	font-family: 'Oxygen', sans-serif;
	padding: 30px 30px 0 0;
}

.title h2 {
	color: #FFF;
	font-size: 30px;
}

.title h3 {
	font-size: 16px;
	font-weight: 600;
	color: #EEE;
	margin-top: 10px;
	text-align: right;
}

.date-time {
	position: absolute;
	bottom: 0;
	color: #FFF;
	width: 90%;
	padding: 0 30px 10px 30px;
	font-family: 'Oxygen', sans-serif;
}

div#txt {
	font-size: 35px;
	font-weight: 100;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.dmy {
	width: 50%;
	float: left;
	text-align: left;
	padding-top: 55px;
}

.temperature {
	width: 50%;
	float: left;
}

.temperature p {
	font-family: 'Raleway', sans-serif;
	font-size: 125px;
	font-weight: 100;
}

.temperature p span {
	font-size: 50px;
	font-weight: 200;
}

.today-weather h3 {
	font-size: 30px;
	color: #FFF;
	width: 80%;
	margin: 0 auto 10px;
	padding-bottom: 10px;
	border-width: thin;
	border-bottom: 1px solid #EEE;
}

.today-weather ul li {
	width: 74%;
	margin: 0 auto;
	line-height: 39px;
	border-width: thin;
	border-bottom: 1px solid #777;
	color: #EEE;
	font-weight: 600;
	text-align: left;
	padding-left: 20px;
}

.today-weather ul li span {
	float: right;
	padding-right: 10px;
}

.today-weather ul li:nth-child(5) {
	border-bottom: none;
}

.footer {
	padding-bottom: 20px;
}

.copyright p {
	color: #FFF;
}

.copyright p a {
	color: #FFF;
}
/*--w3layouts--*/
/*--agileits--*/
.copyright p a:hover {
	color: #FFEB3B;
}

/*-- //Index-Page-Styling --*/





/*-- Responsive Code --*/



@media screen and (max-width: 853px) {
	h1 {
		font-size: 45px;
	}
	/*--w3layouts--*/
	/*--agileits--*/
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 35px;
	}
	.temperature p {
		font-size: 100px;
	}
	.dmy {
		padding-top: 25px;
	}
}

@media screen and (max-width: 736px) {
	.temperature p {
		font-size: 80px;
	}
	.dmy {
		padding-top: 10px;
	}
	div#txt {
		font-size: 30px;
	}
	.forecast-icon img {
		width: 110px;
	}
}

@media screen and (max-width: 667px) {
	h1 {
		font-size: 40px;
		margin-top: 30px;
	}
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 30px;
		margin-top: 45px;
	}
	div#txt {
		font-size: 25px;
	}
	/*--w3layouts--*/
	/*--agileits--*/
	.dmy {
		padding-top: 17px;
	}
	.temperature p {
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 603px) {
	h1 {
		font-size: 35px;
	}
	.city {
		width: 100%;
		min-height: 300px;
	}
	.temperature {
		text-align: right;
	}
	.temperature p {
		font-size: 100px;
	}
	.dmy {
		padding-top: 35px;
	}
	.forecast-icon {
		margin: 10px 0;
	}
	.forecast {
		width: 100%;
		padding-bottom: 30px;
	}
	.copyright {
		padding-bottom: 20px;
	}
	.copyright p {
		line-height: 30px;
		font-size: 14px;
	}
}

@media screen and (max-width: 533px) {
	h1 {
		font-size: 33px;
	}
}

@media screen and (max-width: 480px) {
	/*--w3layouts--*/
	/*--agileits--*/
	h1 {
		font-size: 28px;
		letter-spacing: 2px;
	}
	.forecast-icon {
		margin: 40px 0 10px;
	}
	.forecast-icon img {
		width: 100px;
	}
	.today-weather h3 {
		font-size: 40px;
	}
	.city {
		min-height: 450px;
	}
	.title h2 {
		font-size: 25px;
	}
	.title h3 {
		font-size: 14px;
	}
	.date-time {
		width: 100%;
		padding: 0;
	}
	.dmy {
		padding: 0;
		margin-bottom: 35px;
		text-align: center;
		width: 100%;
	}
	div#txt {
		font-size: 30px;
	}
	.date {
		font-size: 22px;
	}
	.temperature {
		text-align: center;
		width: 100%;
	}
	.copyright {
		padding: 20px;
	}
	.temperature p {
		font-size: 60px;
		padding-bottom: 15px;
	}
	.forecast-icon img {
		width: 65px;
	}
	.today-weather h3 {
		font-size: 30px;
	}
	.copyright p {
		line-height: 25px;
		font-size: 13px;
	}
}

@media screen and (max-width: 375px) {
	h1 {
		font-size: 26px;
		line-height: 1.5em;
		letter-spacing: 0;
	}
	.city {
		min-height: 315px;
	}
	.dmy {
		margin-bottom: 30px;
	}
	.date {
		font-size: 18px;
	}
	.temperature p {
		padding-bottom: 15px;
	}
}



/*-- //Responsive Code --*/